* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: .2fr .2fr .2fr .5fr auto;
  grid-template-areas: 
    "input-country main-country about"
    "input-for-neighbor main-country facts-api"
    "submit-button main-country facts-api"
    "neighbors neighbors neighbors"
    "footer footer footer";
  gap: .5rem;
  text-align: center;
  height: 100vh;
}

#input-country {
    background: lightcoral;
    grid-area: input-country;

}

#input-for-neighbor {
    background: lightcoral;
    grid-area: input-for-neighbor;

}

#submit-button {
    background: lightcoral;
    grid-area: submit-button;

}

#main-country {
    background: lightcoral;
    grid-area: main-country;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

#about {
    background: lightcoral;
    grid-area: about;

}

#facts-api {
    background: lightcoral;
    grid-area: facts-api;

}

#neighbors {
    grid-area: neighbors;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
}

.neighbor1 {
    background: lightcoral;
    grid-column: 1;
    grid-row: 1 / -1;
    gap: .3rem;
}

.neighbor2 {
    background: lightcoral;
    grid-column: 2;
    grid-row: 1 / -1;
    gap: .3rem;
}

.neighbor3 {
    background: lightcoral;
    grid-column: 3;
    grid-row: 1 / -1;
    gap: .3rem;
}

.neighbor4 {
    background: lightcoral;
    grid-column: 4;
    grid-row: 1 / -1;
    gap: .3rem;
}

.neighbor5 {
    background: lightcoral;
    grid-column: 5;
    grid-row: 1 / -1;
    gap: .3rem;
}

#footer {
    background: lightcoral;
    grid-area: footer;
}

.input {
    height: 50%;
    width: 80%;
    font-size: 3rem;
    background-color: white !important;
}

#btn-submit {
    height: 60%;
    width: 60%;
    margin: 30px;
}

.countries {
    display: flex;
  
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .country {
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    width: 100%;
  }
  
  .neighbour::before {
    content: 'Neighbour country';
    width: 100%;
    position: absolute;
    top: -4rem;
  
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #888;
  }
  
  .neighbour {
    transform: scale(0.8) translateY(1rem);
    margin-left: 0;
  }
  
  .country-img {
    width: 100%;
    object-fit: cover;
    background-color: #eee;
  }
  
  .country-data {
    padding: 2.5rem 3.75rem 3rem 3.75rem;
  }
  
  .country-name {
    font-size: 2.7rem;
    margin-bottom: 0.7rem;
  }
  
  .country-region {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    color: #888;
  }
  
  .country-row:not(:last-child) {
    margin-bottom: 1rem;
  }
  
  .country-row span {
    display: inline-block;
    margin-right: 2rem;
    font-size: 2.4rem;
  }
  
  .images {
    display: flex;
  }
  
  .images img {
    display: block;
    width: 80rem;
    margin: 4rem;
  }
  
  .images img.parallel {
    width: 40rem;
    margin: 2rem;
    border: 3rem solid white;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  }