* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: .2fr .2fr .2fr 1fr auto;
  grid-template-areas: 
    "input-for-country main-country main-country main-country about"
    "input-for-neighbor main-country main-country main-country facts-api"
    "submit-button main-country main-country main-country facts-api"
    "neighbor1 neighbor2 neighbor3 neighbor4 neighbor5"
    "footer footer footer footer footer";
  gap: .5rem;
  text-align: center;
  height: 100vh;
  width: 100%;
}

#input-for-country {
    background: lightcoral;
    grid-area: input-for-country;
}

#input-for-neighbor {
    background: lightcoral;
    grid-area: input-for-neighbor;
}

#submit-button {
    background: lightcoral;
    grid-area: submit-button;
}

#main-country {
    background: lightcoral;
    grid-area: main-country;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

#about {
    background: lightcoral;
    grid-area: about;
}

#facts-api {
    background: lightcoral;
    grid-area: facts-api;
    padding: 15px;
}

.neighbor1 {
    background: lightcoral;
    grid-area: neighbor1;
}

.neighbor2 {
    background: lightcoral;
    grid-area: neighbor2;
}

.neighbor3 {
    background: lightcoral;
    grid-area: neighbor3;
}

.neighbor4 {
    background: lightcoral;
    grid-area: neighbor4;
}

.neighbor5 {
    background: lightcoral;
    grid-area: neighbor5;
}

footer {
    background: lightcoral;
    grid-area: footer;
}

.input {
    height: 50%;
    width: 80%;
    font-size: 2.5rem;
    padding: 20px;
    background-color: white !important;
}

#btn-submit {
    height: 60%;
    width: 60%;
    margin: 30px;
    font-size: 2rem;
    border-radius: 15px;
}

.country {
    background: rgb(255, 167, 167);
    font-size: 2.2rem;
    width: 100%;
    text-align: center;
    padding: 10px;
}
  
.country-img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    margin: 30px 15px 15px 15px;
}
  
.country-data {
    padding: .5rem;
}
  
.country-name {
    font-size: 3rem;
    color: #2c2c2c;
}

.total-borders-text {
  font-size: 1.8rem;
  color: #2c2c2c;
}

.total-borders {
  font-size: 2.8rem;
  color: #2c2c2c;
}
  
.country-region {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: #888;
}

.neighbor {
    background: rgb(255, 167, 167);
    font-size: 1.4rem;
    height: 300px;
    padding: 15px;
}

.neighbor-img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  margin: 20px;
}
  
.neighbor-name {
    font-size: 1.5rem;
    margin-bottom: 0;
}
  
.neighbor-region {
    font-size: 1.4rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #888;
}

.error-message {
  text-align: center;
  font-size: 2rem;
  padding: 100px 20px 0 20px;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(10px);
}

.questions {
  font-size: 1.5rem;
}

.answers {
  font-size: 2rem;
  padding-top: 10px;
}

.btn-next {
  width: 30%;
  margin: 30px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.about {
  width: 40%;
  margin-top: 60px;
  font-size: 2rem;
  border-radius: 15px;
}

.contact {
  width: 40%;
  font-size: 2rem;
  border-radius: 15px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.about-modal-text, .contact-modal-text {
  font-size: 1.5rem;
  padding: 80px;
}

h1 {
  padding: 10px;
}

@media screen and (max-width: 1630px) {
  .container {
    grid-template-rows: .3fr .3fr .3fr .7fr auto;
  }
  .about, .contact {
    margin: 20px 20px 0 20px;
    font-size: 1.8rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  .questions {
    font-size: 1.3rem;
    padding: 20px;
  }
  .answers {
    font-size: 1.5rem;
  }
  .btn-next {
    margin: 10px;
  }
  .country-name {
    font-size: 2.7rem;
  }
  .country-region {
    font-size: 2.2rem;
  }
  .country {
    font-size: 2rem;
  }
  .country-img {
    width: 400px;
    height: 250px;
  }
  .neighbor-img {
    width: 180px;
    height: 124px;
  }
  .neighbor-name {
    font-size: 1.5rem;
  }
  .neighbor-region {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1450px) {
  .about, .contact {
    margin: 20px 20px 0 20px;
    font-size: 1.4rem;
  }
  h1 {
    font-size: 1.3rem;
  }
  .questions {
    font-size: 1rem;
    padding: 0;
  }
  .answers {
    font-size: 1.2rem;
  }  
  .btn-next {
    margin: 10px;
    font-size: 1rem;
  }
  .input {
    font-size: 1.2rem;
  }
  .country-img {
    width: 350px;
    height: 200px;
  }
  .country-name {
    font-size: 2.5rem;
  }
  .country-region {
    font-size: 1.7rem;
  }
  .country {
    font-size: 1.5rem;
  }
  .neighbor-img {
    width: 200px;
    height: 137px;
  }
  .total-borders-text {
    font-size: 1.5rem;
  }
  .total-borders {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .about, .contact {
    font-size: 1rem;
  }
  h1 {
    font-size: 1rem;
  }
  .answers {
    font-size: 1.1rem;
  }
  .input {
    font-size: 1.1rem;
  }
  .total-borders-text {
    font-size: 1.2rem;
  }
  .neighbor {
    font-size: 1.1rem;
    height: 315px;
  }
  .neighbor-name {
    font-size: 1.2rem;
  }
  .neighbor-region {
    font-size: 1.2rem;
  }
  .country {
    font-size: 1.3rem;
  }
  .country-name {
    font-size: 2.3rem;
  }
  .country-img {
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr .2fr .5fr .3fr .3fr .3fr .5fr auto;
    grid-template-areas: 
      "input-for-country input-for-neighbor"
      "submit-button about"
      "main-country main-country"
      "neighbor1 neighbor1"
      "neighbor2 neighbor3"
      "neighbor4 neighbor5"
      "facts-api facts-api"
      "footer footer";
    gap: .5rem;
    text-align: center;
    height: 100vh;
  }
  .about, .contact {
    font-size: 2rem;
    margin: 10px;
  }
  #btn-submit {
    font-size: 2rem;
    margin: 10px;
  }
  .country-img {
    width: 300px;
    height: 150px;
  }
  .country-name {
    font-size: 2.2rem;
  }
  .country-region {
    font-size: 1.7rem;
  }
  .country {
    font-size: 1.5rem;
  }
  .neighbor-img {
    width: 140px;
    height: 103px;
  }
  .neighbor-name {
    font-size: 1.5rem;
  }
  .neighbor-region {
    font-size: 1.2rem;
  }
  .neighbor {
    font-size: 1.2rem;
  }
  .btn-next {
  width: 10%;
  }
  h1 {
    font-size: 1.5rem;
    padding: 5px;
  }
  .answers {
    font-size: 1.5rem;
  }
  .questions {
    font-size: 1.2rem;
  }
  .input {
    font-size: 1.3rem;
  }
  .total-borders-text {
    font-size: 1.5rem;
  }
  .total-borders {
    padding: 10px;
  }
}

@media screen and (max-width: 850px) {
  .neighbor1 {
    background: lightcoral;
    grid-area: neighbor1;
}

  .neighbor2 {
    background: lightcoral;
    grid-area: neighbor2;
  }

  .neighbor3 {
    background: lightcoral;
    grid-area: neighbor3;
  }

  .neighbor4 {
    background: lightcoral;
    grid-area: neighbor4;
  }

  .neighbor5 {
      background: lightcoral;
      grid-area: neighbor5;
  }

  .about, .contact {
    font-size: 2rem;
    margin: 10px;
  }
  #btn-submit {
    font-size: 2rem;
    margin: 10px;
  }
  .country-img {
    width: 300px;
    height: 150px;
  }
  .country-name {
    font-size: 2.2rem;
  }
  .country-region {
    font-size: 1.7rem;
  }
  .country {
    font-size: 1.5rem;
    padding: 10px;
  }
  .neighbor-img {
    width: 180px;
    height:120px;
  }
  .neighbor-name {
    font-size: 1.5rem;
  }
  .neighbor-region {
    font-size: 1.2rem;
  }
  .neighbor {
    font-size: 1.2rem;
    padding: 10px;
    height: 200px;
  }
  .btn-next {
  width: 10%;
  }
  h1 {
    font-size: 1.5rem;
    padding: 5px;
  }
  .answers {
    font-size: 1.5rem;
  }
  .questions {
    font-size: 1.2rem;
    padding: 5px;
  }
  .input {
    font-size: 1.3rem;
  }
  .total-borders-text {
    font-size: 1.5rem;
  }
  .total-borders {
    padding: 10px;
  }
}

@media screen and (max-width: 680px) {
  .about, .contact {
    font-size: 1.5rem;
  }
  #btn-submit {
    font-size: 1.5rem;
  }
  .country-img {
    width: 200px;
    height: 100px;
  }
  .neighbor-img {
    width: 130px;
    height:80px;
  }
}

@media screen and (max-width: 530px) {
  .about, .contact {
    font-size: 1rem;
    margin: 10px 0;
  }
  #btn-submit {
    font-size: 1rem;
  }
  .country-img {
    width: 130px;
    height: 80px;
  }
  .neighbor-img {
    width: 130px;
    height:80px;
  }
  .country-name {
    font-size: 1.5rem;
  }
  .country-region {
    font-size: 1.2rem;
  }
  .country {
    font-size: 1.2rem;
    padding: 10px;
  }
  h1 {
    font-size: 1.2rem;
  }
  .input {
    height: 30%;
    font-size: 1rem;
    padding: 15px 5px;
  }
  .neighbor {
    font-size: 1.2rem;
    padding: 3px;
  }
  .btn-next {
    width: 20%;
    height: 30px;
  }
}