* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: .2fr .2fr .2fr .5fr auto;
  grid-template-areas: 
    "input-country main-country about"
    "input-for-neighbor main-country facts-api"
    "submit-button main-country facts-api"
    "neighbors neighbors neighbors"
    "footer footer footer";
  gap: .5rem;
  text-align: center;
  height: 100vh;
}

#input-country {
    background: lightcoral;
    grid-area: input-country;

}

#input-for-neighbor {
    background: lightcoral;
    grid-area: input-for-neighbor;

}

#submit-button {
    background: lightcoral;
    grid-area: submit-button;

}

#main-country {
    background: lightcoral;
    grid-area: main-country;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

#about {
    background: lightcoral;
    grid-area: about;

}

#facts-api {
    background: lightcoral;
    grid-area: facts-api;

}

#neighbors {
    grid-area: neighbors;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
}

.neighbor1 {
    background: lightcoral;
    grid-column: 1;
    grid-row: 1 / -1;
    gap: .3rem;
}

.neighbor2 {
    background: lightcoral;
    grid-column: 2;
    grid-row: 1 / -1;
    gap: .3rem;
}

.neighbor3 {
    background: lightcoral;
    grid-column: 3;
    grid-row: 1 / -1;
    gap: .3rem;
}

.neighbor4 {
    background: lightcoral;
    grid-column: 4;
    grid-row: 1 / -1;
    gap: .3rem;
}

.neighbor5 {
    background: lightcoral;
    grid-column: 5;
    grid-row: 1 / -1;
    gap: .3rem;
}

#footer {
    background: lightcoral;
    grid-area: footer;
}

.input {
    height: 50%;
    width: 80%;
    font-size: 3rem;
    background-color: white !important;
}

#btn-submit {
    height: 60%;
    width: 60%;
    margin: 30px;
    font-size: 2rem;
}

.country {
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 2.8rem;
    width: 100%;
}
  
.country-img {
    width: 100%;
    object-fit: cover;
    background-color: #eee;
}
  
.country-data {
    padding: .5rem;
}
  
.country-name {
    font-size: 3.7rem;
    margin-bottom: 0.7rem;
}
  
.country-region {
    font-size: 2.4rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: #888;
}

.neighbor {
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    width: 100%;
    height: 50%;
}
  
.neighbor-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    background-color: #eee;
}
  
.neighbor-data {
    padding: 0;
}
  
.neighbor-name {
    font-size: 2rem;
    margin-bottom: 0;
}
  
.neighbor-region {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #888;
}